$font_base: 16 !default;

$white_color: rgba(255, 255, 255, 1.0);
$light_gray: gainsboro;
$text_light_gray: rgba(90,90,90,1.0);
$text_dark_gray: rgba(60,60,60,1.0);
$black_color: rgba(40, 26, 26, 1.0);
$red_color: rgba(250, 0, 15, 1.0);