@import '~assets/css/variables';
ul{
    height: 2.5em;
    line-height: 2.5em;
    background: $white_color;
    overflow: auto;
    white-space: nowrap;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    position: fixed;
    width: 100%;
    top: 4em;
    z-index: 9999;
    text-align: center;
}
li{
    display: inline-block;
    margin: 0 1.25em;
}
.active {
    color: $red_color;
}
.items-container{
    top: 6.5em;
    position: absolute;
    width: 100%;
}
.items{
    float: left;
    width: 47%;
    background: $white_color;
}
.items::after{
    clear: both;
}
.items:nth-child(odd){
    margin: 1% 1% 1% 2%;
}
.items:nth-child(even){
    margin: 1% 2% 1% 1%;
}
.items:first-child{
    margin-top: 2%;
}
.items:nth-child(2){
    margin-top: 2%;
}
.items:last-child{
    margin-bottom: 2%;
}
.items:nth-last-child(2){
    margin-bottom: 2%;
}
.camera-section{
    clear: both;
    position: fixed;
    bottom: -10px;
    right: -10px;
    z-index: 9999;
}
.camera{
    background: $red_color;
    border: 1px solid $red_color;
    padding: 20px;
    border-radius: 40px;
}